# Python
venv/
__pycache__/
*.pyc

# SQLite
*.db

# Flutter
.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies
key.properties
*.jks
*.keystore

# Node / Firebase emulators
node_modules/
*.log
.firebase/

# VSCode
.vscode/

# OS
.DS_Store
